/* RESET */
*,
h1,
h2,
h3,
h4,
p,
div,
button,
header,
footer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #1e3e62;
  --primary-color-highlight: #3c7cc3;
  --secondary-color: #ff6500;
  --text-color: white;
  --detail-color: black;
  --accept-color: green;
  --warning-color: yellow;
  --error-color: red;
  --ship-color: gray;

  --small-font-size: 0.8rem;
  --medium-font-size: 1.3rem;
  --big-font-size: 1.8rem;
  --gigantic-font-size: 3.2rem;
  --desktop-font-size: 4.2rem;

  --carrier-color: rgb(255, 168, 6);
  --battleship-color: rgb(136, 255, 63);
  --cruiser-color: rgb(0, 255, 217);
  --submarine-color: rgb(167, 167, 168);
  --destroyer-color: #ff4df9;
  --text-outline: -2px -2px 0px black, /* Top-left shadow */ 1px -1px 0px black,
    /* Top-right shadow */ -2px 2px 0px black,
    /* Bottom-left shadow */ 2px 2px 0px black; /* Bottom-right shadow */
}

body {
  background: black;
  /* min-width: 100vw; */
  /* height: 100vh; */
  /* display: grid; */
  /* place-content: center; */
}

.app {
  background: var(--primary-color);
  display: grid;
  grid-template-rows: 1fr 12fr 1fr;
  width: 100vw;
  min-height: 100vh;
}

.header {
  grid-row: 1 / 2;
  background: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-name {
  color: var(--secondary-color);
  font-size: var(--big-font-size);
  font-weight: 800;
  padding-left: 20px;
}
.game-mode-text {
  color: var(--secondary-color);
  font-size: var(--medium-font-size);
  font-weight: 500;
  margin-right: 20px;
}

.content {
  position: relative;
  z-index: 1;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 0.45fr 0.45fr 0.1fr;
  grid-template-columns: 0.9fr 0.26fr;
}
.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../public/Battleship.png);
  opacity: 0.4;
  z-index: -1;
}
/* HOME SCREEN */
.top-header,
.bottom-header {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  justify-self: center;
  text-align: center;
  color: white;
  font-size: clamp(2rem, 300%, var(--gigantic-font-size));
  text-shadow: var(--text-outline);
  font-weight: 800;
  margin-top: 30px;
}
.top-header {
  display: none;
}
.pvp-button,
.pvc-button,
.replay-button {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  color: var(--text-color);
  font-size: var(--big-font-size);
  font-weight: 800;
  text-shadow: var(--text-outline);
  background: var(--secondary-color);
  border: 6px solid black;
  border-radius: 8px;
  outline: transparent;
  height: 70px;
  width: clamp(60vw, 350px, 90vw);
  justify-self: center;
  transition: 0.3s ease;
  cursor: pointer;
}
.pvc-button {
  margin-top: 100px;
  opacity: 0.5;
}
.pvp-button,
.pvc-button {
  display: none;
}
.pvp-button:hover,
.pvc-button:hover,
.replay-button:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}
/* GAME SCREEN */
.upper-player-score {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  margin-top: 5px;
  margin-left: 5px;
  display: none;
}

.upper-player-name {
  grid-row: 1 / 2;
}
.upper-player-ships {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0px 10px 0 0;
}
.ship {
  border: 3px solid rgb(182, 182, 182);
  height: clamp(10px, calc(10px + 5%), 50px);
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
}
.upper-player-ship1,
.lower-player-ship1 {
  width: 100%;
  background: var(--carrier-color);
}
.upper-player-ship2,
.lower-player-ship2 {
  width: 80%;
  background: var(--battleship-color);
}
.upper-player-ship3,
.lower-player-ship3 {
  width: 60%;
  background: var(--cruiser-color);
}
.upper-player-ship4,
.lower-player-ship4 {
  width: 60%;
  background: var(--submarine-color);
}
.upper-player-ship5,
.lower-player-ship5 {
  width: 40%;
  background: var(--destroyer-color);
}
.destroyed-ship {
  background: var(--error-color);
  border: red;
}
.destroyed-ship {
  background: var(--error-color);
}

.lower-player-score {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  margin-top: 15px;
  margin-left: 5px;
  display: none;
}
.lower-player-name {
  grid-row: 1 / 2;
}
.lower-player-ships {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0px 10px 0 0;
}
.arrange-button-box1,
.arrange-button-box2 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5px;
}
.player1-ship-arrange-button,
.player1-arrange-done-button,
.player2-ship-arrange-button,
.player2-arrange-done-button {
  display: none;
  justify-content: center;
  align-items: center;
  justify-self: start;
  color: var(--text-color);
  font-size: 98%;
  font-weight: 800;
  text-shadow: var(--text-outline);
  background: var(--secondary-color);
  border: 3px solid black;
  border-radius: 8px;
  outline: transparent;
  height: 35px;
  width: 90%;
  transition: 0.3s ease;
  cursor: pointer;
}
.player-turn-message {
  display: none;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  font-size: 100%;
  font-weight: 900;
  color: var(--text-color);
  justify-self: center;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  padding: 4px;
  margin-top: 5%;
  border-radius: 5px;
  width: 85%;
  height: 50%;
}
.player-name {
  font-size: clamp(1rem, var(--medium-font-size), 2.4rem);
  color: var(--text-color);
  font-weight: 800;
  margin-bottom: 8px;
}

.upper-board-area,
.lower-board-area {
  display: grid;
  grid-template-columns: 0.09fr 0.9fr;
  grid-template-rows: 0.09fr 0.9fr;
  width: clamp(210px, 98%, 500px);
  height: clamp(210px, 98%, 500px);
  justify-self: center;
  margin-top: 5px;
  margin-left: 5px;
}
.upper-board-area {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: none;
}
.upper-board-letter-row {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
.upper-board-number-column {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.lower-board-area {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  margin-top: 15px;
  display: none;
}
.lower-board-letter-row {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
.lower-board-number-column {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.coordinate-matrix {
  color: var(--text-color);
  font-size: 100%;
  font-weight: 800;
  border: 1px solid black;
  flex: 1;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.coordinate-matrix.even {
  background: var(--primary-color-highlight);
}
.upper-board-letter-row,
.lower-board-letter-row {
  display: flex;
}
.upper-board-number-column,
.lower-board-number-column {
  display: flex;
  flex-direction: column;
}
.upper-player-board,
.lower-player-board {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid black;
}
.matrix-item {
  display: flex;
  flex: 1 1 1;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-top: 1px solid var(--primary-color-highlight);
  border-right: 1px solid var(--primary-color-highlight);
}
.matrix-item:hover {
  transform: scale(1.3);
  border: 3px solid red;
}
.dot {
  width: clamp(9px, 35%, 20px);
  height: clamp(9px, 35%, 20px);
  background-color: var(--primary-color);
  border-radius: 50%;
}

.modal {
  width: fit-content;
  padding: 10px;
  background: var(--error-color);
  color: var(--text-color);
  font-size: var(--big-font-size);
  font-weight: 800;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.6);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* GAME OVER SCREEN */
.bottom-header {
  grid-row: 2 / 3;
  display: none;
}
.replay-button {
  grid-row: 3 / 4;
  display: none;
}

.footer {
  grid-row: 3 / 4;
  background: inherit;
  color: var(--text-color);
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 10px;
}
.fa-github {
  color: var(--text-color);
  font-size: 25px;
  margin: 0 0 0 5px;
  transition: transform 0.3s ease-in-out;
}
.fa-github:hover {
  transform: scale(1.2);
}
.copyright-text {
  font-size: var(--small-font-size);
}

.ship-input {
  width: inherit;
}
.position-selected {
  background: var(--accept-color);
}

.board-glow {
  border: 5px solid rgba(255, 0, 0, 0.5);
  background: rgba(255, 0, 0, 0.5);
  box-shadow:
    0 0 10px rgba(255, 0, 0, 0.6),
    0 0 20px rgba(255, 0, 0, 0.4),
    0 0 30px rgba(255, 0, 0, 0.2);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Optional dark overlay */
}

@media (min-width: 1000px) {
  .app {
    width: 30vw;
    height: 100vh;
    margin: 0 auto;
    grid-template-rows: 1fr 10fr 1fr;
  }

  .app-name {
    font-size: var(--gigantic-font-size);
    padding-left: 40px;
  }

  .game-mode-text {
    font-size: var(--big-font-size);
    margin-right: 20px;
  }

  .content {
    grid-template-rows: 0.5fr 0.5fr 0.1fr;
    grid-template-columns: 1fr 0.3fr;
    gap: 5px;
  }

  .top-header,
  .bottom-header {
    font-size: var(--desktop-font-size);
    margin-top: 50px;
  }

  .pvp-button,
  .pvc-button,
  .replay-button {
    height: 90px;
    width: 400px;
  }

  .upper-board-area,
  .lower-board-area {
    width: clamp(250px, 100%, 600px);
    height: clamp(250px, 100%, 600px);
  }

  .footer {
    font-size: var(--medium-font-size);
  }

  .copyright-text {
    font-size: var(--medium-font-size);
  }
}
