/* RESET */
*,
h1,
h2,
h3,
h4,
p,
div,
button,
header,
footer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #1e3e62;
  --primary-color-highlight: #3c7cc3;
  --secondary-color: #ff6500;
  --text-color: white;
  --detail-color: black;
  --accept-color: green;
  --warning-color: yellow;
  --error-color: red;
  --ship-color: gray;

  --small-font-size: 0.8rem;
  --medium-font-size: 1.2rem;
  --big-font-size: 1.8rem;
  --gigantic-font-size: 3.6rem;

  --carrier-color: blue;
  --battleship-color: purple;
  --cruiser-color: green;
  --submarine-color: magenta;
  --destroyer-color: #ff6500;
  --text-outline: -2px -2px 0px black, /* Top-left shadow */ 1px -1px 0px black,
    /* Top-right shadow */ -2px 2px 0px black,
    /* Bottom-left shadow */ 2px 2px 0px black; /* Bottom-right shadow */
}

body {
  background: black;
  /* width: 100vw;
height: 100vh; */
  display: grid;
  place-content: center;
}

.app {
  background: var(--primary-color);
  display: grid;
  grid-template-rows: 1fr 12fr 1fr;
  width: 25vw;
  height: 80vh;
}

.header {
  grid-row: 1 / 2;
  background: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-name {
  color: var(--secondary-color);
  font-size: var(--big-font-size);
  font-weight: 800;
  padding-left: 20px;
}
.game-mode-text {
  color: var(--secondary-color);
  font-size: var(--medium-font-size);
  font-weight: 500;
  padding-right: 20px;
}

.content {
  position: relative;
  z-index: 1;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 0.45fr 0.45fr 0.1fr;
  grid-template-columns: 0.9fr 0.3fr;
}
.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../public/Battleship.png);
  opacity: 0.4;
  z-index: -1;
}
/* HOME SCREEN */
.top-header,
.bottom-header {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  justify-self: center;
  text-align: center;
  color: white;
  font-size: var(--gigantic-font-size);
  text-shadow: var(--text-outline);
  font-weight: 800;
  margin-top: 30px;
}
.top-header {
  display: none;
}
.pvp-button,
.pvc-button,
.replay-button {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  color: var(--text-color);
  font-size: var(--big-font-size);
  font-weight: 800;
  text-shadow: var(--text-outline);
  background: var(--secondary-color);
  border: 6px solid black;
  border-radius: 8px;
  outline: transparent;
  height: 70px;
  /* width: clamp(80vw, 250px, 100px); */
  width: 350px;
  justify-self: center;
  transition: 0.3s ease;
  cursor: pointer;
}
.pvc-button {
  margin-top: 100px;
}
.pvp-button,
.pvc-button {
  display: none;
}
.pvp-button:hover,
.pvc-button:hover,
.replay-button:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}
/* GAME SCREEN */
.upper-player-score {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 0.1fr 0.8fr;
  display: none;
}
.upper-player-name {
  grid-row: 1 / 2;
}
.upper-player-ships {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 10px 0 0;
}
.ship {
  border: 3px solid rgb(182, 182, 182);
  height: 25px;
  font-size: var(--medium-font-size);
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
}
.upper-player-ship1,
.lower-player-ship1 {
  width: 100%;
  background: var(--carrier-color);
}
.upper-player-ship2,
.lower-player-ship2 {
  width: 80%;
  background: var(--battleship-color);
}
.upper-player-ship3,
.lower-player-ship3 {
  width: 60%;
  background: var(--cruiser-color);
}
.upper-player-ship4,
.lower-player-ship4 {
  width: 60%;
  background: var(--submarine-color);
}
.upper-player-ship5,
.lower-player-ship5 {
  width: 40%;
  background: var(--destroyer-color);
}
.destroyed-ship {
  background: var(--error-color);
}
.destroyed-ship {
  background: var(--error-color);
}
.lower-board-area {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.lower-player-score {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 0.1fr 0.8fr;
  display: none;
}
.lower-player-name {
  grid-row: 1 / 2;
}
.lower-player-ships {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 10px 0 0;
}
.arrange-button-box1,
.arrange-button-box2 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5px;
}
.player1-ship-arrange-button,
.player1-arrange-done-button,
.player2-ship-arrange-button,
.player2-arrange-done-button {
  display: none;
  justify-content: center;
  align-items: center;
  justify-self: start;
  color: var(--text-color);
  font-size: var(--medium-font-size);
  font-weight: 800;
  text-shadow: var(--text-outline);
  background: var(--secondary-color);
  border: 3px solid black;
  border-radius: 8px;
  outline: transparent;
  height: 45px;
  width: 90%;
  transition: 0.3s ease;
  cursor: pointer;
}
.player-turn-message {
  display: none;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  font-size: var(--medium-font-size);
  font-weight: 900;
  color: var(--text-color);
  justify-self: center;
  background: var(--primary-color);
  padding: 4px;
  border-radius: 5px;
}
.player-name {
  font-size: var(--big-font-size);
  font-weight: 800;
}

.upper-board-area {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 0.09fr 0.9fr;
  grid-template-rows: 0.09fr 0.9fr;
  width: 320px;
  height: 320px;
  justify-self: center;
  display: none;
}
.upper-board-letter-row {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
.upper-board-number-column {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.lower-board-area {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 0.09fr 0.9fr;
  grid-template-rows: 0.09fr 0.9fr;
  width: 320px;
  height: 320px;
  justify-self: center;
  display: none;
}
.lower-board-letter-row {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
.lower-board-number-column {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.coordinate-matrix {
  font-size: var(--medium-font-size);
  font-weight: 800;
  border: 1px solid black;
  flex: 1;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.coordinate-matrix.even {
  background: var(--primary-color-highlight);
}
.upper-board-letter-row,
.lower-board-letter-row {
  display: flex;
}
.upper-board-number-column,
.lower-board-number-column {
  display: flex;
  flex-direction: column;
}
.upper-player-board,
.lower-player-board {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 equal columns */
  grid-template-rows: repeat(10, 1fr); /* 10 equal rows */
  border: 1px solid black;
}
.matrix-item {
  display: flex;
  flex: 1 1 1;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-highlight);
  border: 1px solid var(--primary-color);
}
.dot {
  width: 7px;
  height: 7px;
  background-color: black;
  border-radius: 50%; /* Makes the dot circular */
}

/* GAME OVER SCREEN */
.bottom-header {
  grid-row: 2 / 3;
  display: none;
}
.replay-button {
  grid-row: 3 / 4;
  display: none;
}

.footer {
  grid-row: 3 / 4;
  background: inherit;
  color: var(--text-color);
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 10px;
}
.fa-github {
  color: var(--text-color);
  font-size: 25px;
  margin: 0 0 0 5px;
  transition: transform 0.3s ease-in-out;
}
.fa-github:hover {
  transform: scale(1.2);
}
.copyright-text {
  font-size: var(--small-font-size);
}
/* @media (min-width: 1000px) { */
.ship-input {
  width: inherit;
}
.position-selected {
  background: var(--accept-color);
}
